
#right
{
	width:90%;
	margin-left: 5%;
}
#al
{
	text-align: center;
}

h3,h2,p
{
	text-align: center;
}

.fa-github{
	  font-size: 3rem;
}


.fa-facebook {
	font-size: 3rem;
  color: black;
	width:50px;
}

.fa-facebook:hover{
	filter: invert(50%);
}

.fa {
  margin: 15px 12px;
}

#outer{
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-top:5%;
}
/*.card{
	width:70%;
	height:100%;
	width: 80%;
  margin: 10px auto;
  opacity: 0.8;
  margin-top: 5%;
}*/



/*.cont
{
	width:25%;
	display: inline-block;
	float:left;
	margin-left: 5%;
	margin-right: 3%;
	
}

.mat-card-image {
	height:200px;
}*/

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }

    #outer{
    	width:100%;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

 /*@media screen and (max-width: 768px) {
	.card{
		max-width: 100%;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	} 	
}*/