
#right
{
	float:right;
	width:30%;
	margin-right:5%;
	height:40%;
	display: inline-block;
	margin-bottom: 50px;
}
#left
{
	float:left;
	margin-left: 5%;
	width:55%;
	height:40%;
	display: inline-block;
	margin-bottom: 50px;
}
.cont
{
	width:30%;
	display: inline-block;
	float:left;
	margin-left: 1.5%;
	margin-right: 1.5%;
}
h3
{
	text-align: center;
}
