<br>
<div class="card" id="outer">

    <h1 align="center"><b>CourseDB</b></h1>
    <p id="al">
At the time of course registration, every IITK student faces the dilemma of choosing the apt course out of the several choices available. Most of us somehow end up taking a course based on friends’ or seniors’ suggestions especially when it comes to HSS, ESO/SO and other department specific courses, only to regret later! Cousedb aims to solve this problem with its extensive database of course material (slides, lecture notes, assignments etc.). Coursedb allows both IITK students and professors to upload their course material which is open to all so that anyone can access the course material of the premier institute.
</p>


<br>
<h2 align="center"><b>Team</b></h2>

<mat-card-content>


<!-- <div class="cont" id='thiis'>
  <mat-card >
		
  <img mat-card-image src="https://scontent.flko3-1.fna.fbcdn.net/v/t1.0-9/20799054_1251921484919604_5015823006528460642_n.jpg?_nc_cat=0&oh=54141231e7dd94dda50b874623e25237&oe=5B9DF266">
  <mat-card-content>
 <b><i><p>Vaibhav</p></i></b>

    <p align="center">
    	Vaibhav is a first year undergrad.<br>
			<a  itemprop="sameAs" href="//github.com/vaibhavjindal" target="_blank">
				<i class="fa fa-github"></i>
			</a>
			<a itemprop="sameAs" href="https://www.facebook.com/vaibhav.jindal.184" target="_blank">
				<i class="fa fa-facebook"></i>
			</a>
  </p>
</mat-card-content>
</mat-card>
</div>
<div class="cont">
  <mat-card >
		
  <img mat-card-image src="https://scontent.flko3-1.fna.fbcdn.net/v/t1.0-9/20621948_103924830315448_5617706535988762584_n.jpg?_nc_cat=0&oh=7a8fa2d179d1148a5f842ff7bc1136a0&oe=5BE26DD2" alt="Photo of a Shiba Inu">
  <mat-card-content>
  	<b><i><p>Nikhil</p></i></b>
    <p align="center">
    	Nikhil is a first year undergrad.<br>
			<a itemprop="sameAs" href="//github.com/NikhilBansal1999" target="_blank">
				<i class="fa fa-github"></i>
			</a>
			<a itemprop="sameAs" href="https://www.facebook.com/nikhil.bansal.31149" target="_blank">
				<i class="fa fa-facebook"></i>
			</a>
  </p>
</mat-card-content></mat-card>
</div>
<div class="cont">
  <mat-card >
		
  <img mat-card-image src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/28379061_1896183247059796_7699862977079410688_n.jpg?_nc_cat=0&oh=633442b99a1b23db2b79a813e0c44f48&oe=5BA64E66">
    <mat-card-content>
    	<b><i><p>Prakhar</p></i></b>
      <p align="center">
      	Prakhar is a first year undergrad.<br>
				<a itemprop="sameAs" href="//github.com/prakhar801" target="_blank">
					<i class="fa fa-github"></i>
				</a>
				<a itemprop="sameAs" href="https://www.facebook.com/prakhar.nagpal.3" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
    </p>
</mat-card-content></mat-card>
<br>
</div> -->

 <div class="row">
  <div class="column">
    <div class="card mycard">
      <img src="https://raw.githubusercontent.com/vaibhavjindal/images/master/index(1).jpg" alt="Nikhil">
      <div class="container">
        <h2>Vaibhav Jindal</h2>
        <p>vaibhavj@iitk.ac.in<br>
        <a  itemprop="sameAs" href="//github.com/vaibhavjindal" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a itemprop="sameAs" href="https://www.facebook.com/vaibhav.jindal.184" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card mycard" id='myid'>
      <img src="https://raw.githubusercontent.com/vaibhavjindal/images/master/20621948_103924830315448_5617706535988762584_n.jpg" alt="Nikhil">
      <div class="container">
        <h2>Nikhil Bansal</h2>
        <p>nikhilba@iitk.ac.in
        <br>
      <a itemprop="sameAs" href="//github.com/NikhilBansal1999" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a itemprop="sameAs" href="https://www.facebook.com/nikhil.bansal.31149" target="_blank">
        <i class="fa fa-facebook"></i>
      </a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card mycard">
      <img src="https://raw.githubusercontent.com/vaibhavjindal/images/master/28379061_1896183247059796_7699862977079410688_n(2).jpg" alt="Prakhar">
      <div class="container">
        <h2>Prakhar Nagpal</h2>
        <p>prakharn@iitk.ac.in
        <br>
        <a itemprop="sameAs" href="//github.com/prakhar801" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a itemprop="sameAs" href="https://www.facebook.com/prakhar.nagpal.3" target="_blank">
          <i class="fa fa-facebook"></i>
        </a></p>
      </div>
    </div>
  </div>
</div> 
</mat-card-content>
</div>
