
#right
{
	width:90%;
	margin-left: 5%;
}
#al
{
	text-align: center;
}

h3,h2,p
{
	text-align: center;
}

.fa-github{
	  font-size: 3rem;
}


.fa-facebook {
	font-size: 3rem;
  color: black;
	width:50px;
}

.fa-facebook:hover{
	filter: invert(50%);
}

.fa {
  margin: 15px 12px;
}

.card{
	/*width:70%;*/
	height:100%;
	width: 80%;
  margin: 10px auto;
  opacity: 0.8;
  margin-top: 5%;
}



.cont
{
	width:25%;
	display: inline-block;
	float:left;
	margin-left: 5%;
	margin-right: 3%;
	
}

.mat-card-image {
	height:200px;
}