<br><br><br>
<img src="https://raw.githubusercontent.com/vaibhavjindal/coursedb/master/src/app/upload-data/photo.jpg" style="height: 1px; width: 1px;" onload="discussion()">
<div id="comment">
<mat-card class="disc">
  <mat-card-title align="Center"><i><b>Forum</b></i></mat-card-title>
  <mat-card-subtitle align="Center">
    Here you can discuss with the community. If you dont find the course you find, request here and someone
    might upload it. Also use the forum to report any issues or misuse of service.
  </mat-card-subtitle>
<div id="disqus_thread"></div>
</mat-card>
</div>
