<img src="https://raw.githubusercontent.com/vaibhavjindal/coursedb/master/src/app/upload-data/photo.jpg" style="height: 1px; width: 1px;" onload="hellonikhil()">
<mat-card class="card">  
  <mat-card-header>    
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><h4>Verified User</h4></mat-card-title>
  </mat-card-header>
    
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Please Enter Your Name" id='upname' required>
    </mat-form-field>
    <br>
    
    <label>You are an:</label>
    <br>
    <mat-radio-group id='des' [(ngModel)]="designation">
      <mat-radio-button value="Student" name='desig'>IITK Student </mat-radio-button><br>
      <mat-radio-button value="Professor" name='desig'>IITK Professor</mat-radio-button>
    </mat-radio-group>
    <br><br>


    <mat-form-field class="example-full-width" required>
      <mat-select placeholder="Department" [(value)]="s_dept">
        <mat-option *ngFor="let dept of depts" [value]="dept.name" (click)="onSelect(dept.name)">
          {{dept.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <div *ngIf='selectedDept'>
    <br>
    <mat-form-field class="example-full-width">
    <mat-select placeholder="Course" [(value)]="s_course">
      <mat-option *ngFor="let course of selectedDept.courses" [value]='course'>
        {{course}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  </div>


<br>
    <mat-form-field class="example-full-width">
    <mat-select placeholder="Year In Which Course Was Offered" [(value)]='s_year'>
      <mat-option value='2017-2018'>2017-2018</mat-option>
      <mat-option value='2016-2017'>2016-2017</mat-option>
      <mat-option value='2015-2016'>2015-2016</mat-option>
      <mat-option value='2014-2015'>2014-2015</mat-option>
      <mat-option value='Others'>Others</mat-option>
    </mat-select>
  </mat-form-field>


  <br>

    <label>Semester</label>
    <br>
    <mat-radio-group id='sem' layout='row' [(ngModel)]='semester'>
    <mat-radio-button value="Odd" name='sem' class="radio">Odd</mat-radio-button>
    <mat-radio-button value="Even" name='sem' class="radio">Even</mat-radio-button>
    <mat-radio-button value="Summers" name='sem' class="radio">Summers</mat-radio-button>
    <mat-radio-button value="Dont know" name='sem' class="radio">Don't Know</mat-radio-button>
  </mat-radio-group>


  <br><br>
  <label for="notes" class="mat-raised-button">Select Notes</label><h6 id="s_n1"></h6>
  <input type="file" class="form-control-file" id="notes" name="note" multiple onchange="sd_notes()"/>
  <div id="notesdisplay"></div>

  <label for="assign" class="mat-raised-button">Select Assignments</label><h6 id="s_a1"></h6>
  <input type="file" class="form-control-file" id="assign" name="assignments" multiple onchange="sd_assignments()"/>
  <div id="assigndisplay"></div>

  <label for="others" class="mat-raised-button">Select Other Files</label><h6 id="s_o1"></h6>
  <input type="file" class="form-control-file" id="others" name="other" multiple onchange="sd_others()"/>
   <div id="othersdisplay"></div>
  
  <button mat-raised-button color='primary' (click)="fun()" id='a'>Submit</button>
  <mat-card-content>
    <div id='err'></div>
    
    
   
  </mat-card-content>
</mat-card>
