

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class='newclass'>

  	

<!-- 	<mat-card-title><h6 id="cf"></h6></mat-card-title>
 -->	
 	<mat-accordion>
 		<mat-expansion-panel style="padding-left: 0 !important;">
 			<mat-expansion-panel-header>
 				<mat-panel-title>
 					<font color='#d3d3d3'>Lecture Notes</font>
 				</mat-panel-title>
 			</mat-expansion-panel-header>

 			<div id="l_notes" style="padding-left: 0px;padding-right: 0px;">
			</div>

			<button onclick="download_files('notes')" id="notes_download">Download Lecture Notes
			</button>
			
			<p id="lecture_progress" style="color: white;">
			</p>
		</mat-expansion-panel>

		<br>
	</mat-accordion>


	<mat-accordion>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
				<font color='#d3d3d3'>Assignments</font>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<p id="l_assign">
			</p>
			<button onclick="download_files('assign')" id="assign_download">Download Assignments
			</button>
			<p id="assign_progress" style="color: white;">
			</p>
		</mat-expansion-panel>

	</mat-accordion>
	
	<br>

	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
				<font color='#d3d3d3'>Others</font>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<p id="l_others">
			</p>

			<button onclick="download_files('others')" id="others_download">Download Other Files
			</button>
			<p id="others_progress" style="color: white;">
			</p>
		</mat-expansion-panel>
	</mat-accordion>
	<div id='demo'></div>

</mat-sidenav>
  <mat-sidenav-content class='sidenavcontent'>
  	<p id='thisid' style="height:99%;"></p>
</mat-sidenav-content>
</mat-sidenav-container>







