.example-container {
  position: absolute;
  top: 52.663px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}


.mat-expansion-panel-body {
	padding-left: 0;
	margin-left: 0;
}

#l_notes {
	padding: 0;
	margin: 0;
}

/deep/ .mat-expansion-panel {
    background: #35383d; 
}

.newclass{
	width: 15%;
}

 @media screen and (max-width: 768px) {
 	
 	.newclass{
 		width: 100%;
 	}
 }
