.example-container {
  position: absolute;
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

/*#l_notes {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right: 0;
}*/

.mat-expansion-panel-body {
	padding-left: 0;
	margin-left: 0;
}

#l_notes {
	padding: 0;
	margin: 0;
}

/deep/ .mat-expansion-panel {
    background: #35383d;  /* replace skyblue with any color */ 
}

