#tick{
	height: 40%;
}

.container{
	z-index: -99;
	height:auto;
	background-size: cover
}

.card{
	opacity: 0.95;
	max-width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
    border-radius: 10px;
}

.example-full-field{
	width: 90%;
}

