<div id="container">
    <img src="https://raw.githubusercontent.com/vaibhavjindal/images/master/image8.jpg">
    <img src="https://raw.githubusercontent.com/vaibhavjindal/images/master/city-office-black-and-white-crop.jpg">
    <img src="https://raw.githubusercontent.com/vaibhavjindal/images/master/image3.jpg">
    <img src="https://raw.githubusercontent.com/vaibhavjindal/images/master/pexels-photo-247899.jpeg">
</div><br>
<mat-card class="card">
	<br>
	<div align="center">
	      <img mat-card-image src="https://raw.githubusercontent.com/vaibhavjindal/images/master/1200px-IIT_Kanpur_Logo.svg.png" style="width:25%;height:25%;">
		  <img mat-card-image src="https://raw.githubusercontent.com/vaibhavjindal/images/master/Screenshot%20from%202018-07-04%2006-41-06.png" onload="get_json()">
<!-- <img id="tick" src="https://raw.githubusercontent.com/vaibhavjindal/images/master/Screenshot%20from%202018-07-04%2006-41-06.png" align="center" onload="get_json()"> --><br>
<mat-form-field class="example-full-field">
<input matInput list='data' type='text' id='search' placeholder="Search Course" autofocus>
</mat-form-field>
<br>
<mat-card-actions>
 <button mat-raised-button color="primary" onclick="redirect_course()">Submit</button>
 <p align="center" id='course_enter'></p>
</mat-card-actions>
<datalist id='data'>
</datalist>
</div>
</mat-card>
