

<br>
<mat-card tabindex="0" class="card">
	<mat-card-title><h1 align="center">Contribute</h1></mat-card-title>

  <img mat-card-image src="https://raw.githubusercontent.com/vaibhavjindal/images/fc64096c98616b189fadef59944c8be131d3fc55/ME_252_Contribution.png">
	<div align="center">
	<mat-card-content>
		<div class="text">Help us expand our collection!<br>IITK students and professors can help us by uploading course data.</div>
	</mat-card-content>
	<form class="example-form">
	  <mat-form-field class="example-full-width">
	    <input matInput placeholder="IITK Email Id" id="exampleInputEmail1"	>
	  </mat-form-field>
	</form>
	<mat-card-actions>
  		<button mat-raised-button color="primary" onclick="send_email()" id="clickbut">Send Verification E-mail</button>
  	</mat-card-actions>
  	</div>
</mat-card>

