<h1 align="center">Verification Portal</h1>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">Please enter your email id. We will send you a verification mail.</small>
  </div>

<br><br><br><br><br>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="IITK Email Id" id="exampleInputEmail1"	>
  </mat-form-field>
</form>
  <button class="btn btn-primary" onclick="send_email()" id="clickbut">Send Verification e-mail</button>