.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card{
	opacity: 0.87;
	max-width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
}

img{
    display: block;

}

.text{
	font-size: 20px;
}
 @media screen and (max-width: 768px) {
	.card{
		max-width: 100%;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	} 	

	.text{
		font-size: 14px;
	}
}