
<pre >
    Department:      <input type="text" id="department"><br>
    Course Code:     <input type="text" id="coursecode"><br>
    Course Name:     <input type="text" id="coursename"><br>
    Year:            <input type="text" id="year"><br>
    Sem:             <input type="radio" id="sem" value="Odd">Odd
                     <input type="radio" id="sem" value="Even">Even<br>
    Your Name:       <input type="text" id="upname"><br>
    Your designation:<input type="radio" id="des" value="Student">Student
                     <input type="radio" id="des" value="Professor">Professor<br>
    <button onclick="upload_data()">Upload_data</button>
</pre>
<p id="hello"></p>
